<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SCOOP Auth - Login</title>
    </head>
    <body>
        <form action="/oauth/authorize" method="POST">
            <input type="hidden" id="transaction_id" name="transaction_id" value='{{ transactionID }}' required />

            <p>Allow access?</p>

            <input type="submit" value="Allow" id="allow">
            <input type="submit" value="Deny" name="deny" id="deny">
        </form>
    </body>
</html>
