<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SCOOP Auth - Create</title>
    </head>
    <body>
        <form action="/create" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />

            <input type="submit">
        </form>
    </body>
</html>
