<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SCOOP Auth - Login</title>
    </head>
    <body>
        {{#if username }}
            <p> You're currently logged in as {{ username }}. Logging in again will log you out of your current identity and into the new one.</p>
        {{/if}}
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />

            <input type="submit">
        </form>
    </body>
</html>
