<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SCOOP Auth - Successful</title>
    </head>
    <body>
        {{#if username}}
            <p>You're currently logged in as {{ username }}.</p>
        {{else}}
            <p>It doesn't look like you're logged in. You should probably go login.</p>
        {{/if}}
    </body>
</html>
